# API d'Ignav
IGNAV_API_KEY="la_teva_clau_aqui"

# Telegram Bot
TELEGRAM_BOT_TOKEN="el_teu_token_aqui"
TELEGRAM_CHAT_ID="el_teu_chat_id_aqui"

# Google Cloud Storage (Opcional, només per llegir config.yaml remotament)
# GCS_CONFIG_URI="gs://el-teu-bucket/config.yaml"
